@model RoleModel
@{
    ViewData["Title"] = "Create Roles";
}

<div class="jumbotron vertical-center bg-transparent">
    <div class="container d-flex justify-content-center">
        <div class="col-md-6">
        <h3 class="display-5 font-weight-bold mb-4">Enter Name for role</h3>
            <form method="POST" asp-action="createRoles" asp-controller="Admin">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="RoleName"></label>
                    <input asp-for="RoleName" class="form-control"/>
                    <span asp-validation-for="RoleName"></span>
                </div>
                <div class="form-group mt-5">
                    <input type="submit" class="form-control text-uppercase btn btn-block btn-primary" value="create role"/>
                </div>
            </form>
        </div>
    </div>
</div>